body {
  padding: 0;
  margin: 0;
}

body, html {
  box-sizing: border-box;
  background-color: #202020;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 90vh;
}

spline-viewer {
  width: 100vh;
  height: 100vh;
}